@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
::placeholder { 
    color: white;
    opacity: 0.2;
  }

* {
    font-family: 'KyoboHand', serif;
    font-size: 20px;
    color: white;
}

body {
    background-color: #696969;
}
.right_menu{
    display: flex;
}

.right_menu div {
    padding-left: 1em;
}

.navbar {
    margin-bottom: 1em;
    margin-top : 1em;
    margin-bottom: 3.5em;
}

.post-box {
    background-color: green;
}
.post-img-size {
    max-width:100%;
    margin-bottom: 1em;
}

.title {
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    margin-bottom: 1em;
    flex-direction: column;
}
.static {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.static div {
    font-size : 0.8em;
}
.post {
    padding: 1em;
    border:1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.white {
    color : white;
}

.comment {
    margin-top : 2em;
}
.body {
    margin-bottom : 2em;
}
.card-body {
    background-color: gray;
    border:none;
}
.buttons{
    display:flex;
    justify-content: center;
}
.buttons button {
    margin : 5px;
    background: none;
    border: none;
}
.center {
    display:flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    margin-bottom: 2em;
    padding-bottom:2em;
}
.center div {
    margin : 15px;
}

.card {
    margin-bottom: 1em;
}

.comment-push {
    background-color: gray;
    border : 1px solid white;
    outline-color: beige;
    max-width: 93%;
    width: 58em;
    height: 2.8em;
}

.commentPush {
    max-width:100%;
}
.commentPush button {
    margin-bottom:1.9em;
}

.fa-heart {
    font-size : 1.5em;
}